.character-card {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 'character-title character-title'
                       'type type-description';
  border: 1px solid black;
  width: 600px;
  margin: 50px auto;
}

.character-title {
  grid-area: character-title;
  border-bottom: 1px solid black;
  font-family: "Magic School One";
  font-size: 40px;
  text-align: center;
}

.type {
  grid-area: type;
}

.type-description {
  grid-area: type-description;
}

h2 {
  margin: 10px auto;
}

p {
  margin: 0;
}
