.character-card {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 'character-title'
                       'description';
  border: 1px solid black;
  width: 600px;
  margin: 50px auto;
}

.character-title {
  grid-area: character-title;
  border-bottom: 1px solid black;
  font-family: "Magic School One";
  font-size: 30px;
  text-align: center;
}

.description {
  grid-area: description;
}

h2 {
  margin: 10px auto;
}

p {
  margin: 30px auto;
}

.hide {
  display: none;
}

th {
  text-align: right;
  font-family: "Magic School One";
  font-size: 30px;
  padding: 10px 20px;
}
